.containerStepGeneral {
  width: 184px;
  display: flex;
  flex-direction: column;
  margin: 50px auto auto auto;
}

.imgStep {
  width: 2px;
  height: 42px;
  margin-left: 12px;
  transform: scale(1.5);
  margin-top: -3px;
}
