.form-check-input:checked {
  background-color: #ffffff;
  border-color: #43b748;
}

.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2343b748'/%3e%3c/svg%3e");
}
