.button_primary_custom {
  font-family: Lato;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 20px 42px !important;
  border-radius: 8px !important;
  @media (max-width: 480px) {
    width: 100%;
  }
}
