.dropdown_custom_group {
  height: 56px !important;
  .dropdown_custom {
    background: white;
    button {
      border: 1.00694px solid #c5cbe0;
      color: #494f66;
      height: 56px !important;
    }
  }
  input {
    font-size: 16px !important;
    height: 56px !important;
    &::placeholder {
      color: #a3abcc;
    }
  }
}
