.containerGeneralPlanes {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  .containerGeneralPlanes__stepper {
    flex: 1 1 30%;
    min-height: 100%;
    background: #f7f8fc;
  }

  .containerGeneralPlanes__form {
    flex: 1 1 70%;
  }
}
