.containerGeneralForm__buttonBack {
  margin-top: 48px;
  margin-bottom: 24px;

  img {
    margin-right: 16px;
    cursor: pointer;
  }

  span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #a3abcc;
    cursor: pointer;
  }
}
